@use 'setting' as s;
@use 'common' as c;

.contents__area{
    padding-left: 200px;
    @include s.mq(sm){
        padding-left: 0;
        padding-top: 80px;
    }
}
.main{
    overflow: hidden;
}

// ファーストビュー
.fv--wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    video{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

// イントロ
.intro .u-wrapper{
    padding-bottom: 40px;
}
.intro__title{
    font-size: s.rem(24);
    letter-spacing: 0.06rem;
    position: relative;
    &::before{
        content: "";
        background-color: s.$colorBlack;
        width: 1px;
        height: 50px;
        position: absolute;
        top: -60px;
        left: 50%;
    }
}

// ピックアップ
.pickup__sec .u-wrapper{
    @include s.mq(sm){
        padding-left: 0;
        padding-right: 0;
    }
}
.p-top-pickup__list{
    margin-top: 40px;
}
.p-top-pickup__item{
    padding-left: 20px;
    padding-right: 20px;
    @include s.mq(sm){
        padding-left: 10px;
        padding-right: 10px;
    }
}
.p-top-pickup__title{
    font-size: s.rem(18);
    padding-bottom: 8px;
}
.p-top-pickup__thumbnail{
    margin-bottom: 16px;
}
.p-top-pickup__text{
    font-family: s.$sans;
}
// スリックのドットスタイル
.slick-dots{
    bottom: -70px;
    li{
        width: 10px;
        button::before{
        font-size: 10px;
        }
    }
    li.slick-active button:before{
        color: s.$colorGold;
    }
}
.slick-dotted.slick-slider{
    margin-bottom: 70px;
}

// プラン
.c-plan-tabs{
    margin-top: 40px;
}
.c-plan-tabs__buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.c-plan-tabs__button{
    min-width: 280px;
    text-align: center;
    display: inline-block;
    color: s.$colorGray;
    border-bottom: 1px solid s.$colorGray;
    padding-bottom: 8px;
    font-size: s.rem(18);
    @include s.mq(sm){
        font-size: s.rem(14);
        min-width: unset;
        width: 30%;
    }
}
.c-plan-tabs__button--active{
    color: s.$colorGold;
    border-bottom: 1px solid s.$colorGold;
}

.c-plan-tabs__content{
    display: none;
    max-width: 640px;
    margin: auto;
    .content__title{
    margin-top: 40px;
    border-bottom: 1px solid s.$colorGold;
    padding-bottom: 8px;
    font-size: s.rem(20);
    text-align: center;
    }
    .content__text{
        font-family: s.$sans;
        margin-top: 10px;
    }
}

.c-plan-tabs__content--active{
    display: block;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.plan__cta{
    background: s.$colorGold;
    color: s.$colorWhite;
    width: 380px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    @include s.mq(sm){
    width: 100%;
}
}

// 特徴
.feature__sec{
    height: auto;
}
.p-top__featureList{
    margin-top: 40px;
    .p-top__featureItem:nth-child(even){
        flex-direction: row-reverse;
        @include s.mq(sm){
            flex-direction: column;
        }
    }
    .p-top__featureItem:last-child{
       margin-bottom: 0;
    }
}
.p-top__featureItem{
    display: flex;
    margin-bottom: 100px;
    @include s.mq(sm){
       flex-direction: column;
       margin-bottom: 40px;
    }
}
.featureItem__imgWrapper{
    width: 500px;
    @include s.mq(sm){
       width: 100%;
    }
}
.featureItem__contents{
    margin-top: 130px;
    margin-left: -80px;
    width: 500px;
    background: s.$colorWhite;
    padding: 16px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    @include s.mq(sm){
       margin-left: 0;
       margin-top: 0;
       min-height: auto;
       padding: 24px 16px;
       width: 100%;
    }
}
.featureItem__title{
    text-align: center;
    font-size: s.rem(20);
    margin-bottom: 16px;
}
.p-top__featureItem:nth-child(even) .featureItem__contents {
  margin-left: auto;
  margin-right: -80px;
  @include s.mq(sm){
       margin-right: 0;
       margin-left: 0;
    }
}

// お問い合わせセクション
.contact{
    background: url("../images/contact-cta.jpg") no-repeat center;
    min-height: 300px;
    padding: 40px 80px;
    color: s.$colorWhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include s.mq(sm){
       flex-direction: column;
       text-align: center;
       background: url("../images/contact-cta-sp.jpg") no-repeat center;
       background-size: cover;
       min-height: 330px;
       padding: 40px;
    }
}
.contact__titleEn{
    font-size: s.rem(24);
    letter-spacing: 0.1rem;
}
.contact__text{
    line-height: 1.8;
}
.contact__cta{
    @include s.mq(sm){
     width: 100%;
    }
}
.contact__ctaLink{
    padding: 16px;
    width: 400px;
    background: s.$colorWhite;
    color: s.$colorBlack;
    display: flex;
    justify-content: center;
    font-size: s.rem(20);
    @include s.mq(sm){
       width: 100%;
    }
}
.contact__sns{
    display: flex;
    justify-content: space-between;
    gap: 1%;
    margin-top: 2%;
    .sns:first-child{
        background: url("../images/instagram-cta.jpg") no-repeat center;
        background-size: cover;
    }
    .sns:last-child{
        background: url("../images/facebook-cta.jpg") no-repeat center;
        background-size: cover;
       
        @include s.mq(sm){
         margin-top: 5%;
    }
    }
    @include s.mq(sm){
        flex-direction: column;
        margin-top: 5%;
    }
}
.sns{
    min-height: 266px;
    width: 49%;
    color: s.$colorWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include s.mq(sm){
        width: 100%;
        height: 200px;
        min-height: unset;
    }
}
.sns__text{
    font-size: s.rem(24);
    letter-spacing: 0.15rem;
}
.sns__imgWrapper{
    width: 40px;
    height: 40px;
    img{
        width: 100%;
        height: 100%;
    }
}

.footer__navArea{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @include s.mq(sm){
        margin-bottom: 24px;
        flex-direction: column;
        text-align: center;
    }
}
.footer__navList{
    @include s.mq(xs){
        flex-direction: column;
        gap: 16px;
    }
}
.footer__logo{
    font-size: s.rem(24);
    letter-spacing: 0.08rem;
    @include s.mq(sm){
        margin-bottom: 24px;
    }
}
.footer__navItem{
    padding-left: 24px;
    @include s.mq(xs){
        padding-left: 0;
    }
}

.copiright{
    margin-bottom: 14px;
    text-align: center;
    margin-top: 30px;
     @include s.mq(sm){
        margin-bottom: 24px;
    }
}