@use 'setting' as s;
@use 'common' as c;

.contents__area{
    padding-left: 200px;
}
.main{
    overflow: hidden;
}

// ファーストビュー
.fv--wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    video{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

// イントロ
.intro__title{
    font-size: s.rem(24);
    letter-spacing: 0.06rem;
    position: relative;
    &::before{
        content: "";
        background-color: s.$colorBlack;
        width: 1px;
        height: 50px;
        position: absolute;
        top: -60px;
        left: 50%;
    }
}
.intro__text{
    margin-bottom: 40px;
}

// ピックアップ
.p-top-pickup__list{
    margin-top: 40px;
}
.p-top-pickup__item{
    padding-left: 20px;
    padding-right: 20px;
}
// スリックのドットスタイル
.slick-dots{
    bottom: -50px;
    li{
        width: 10px;
        button::before{
        font-size: 10px;
        }
    }
    li.slick-active button:before{
        color: s.$colorGold;
    }
}

// プラン
.c-plan-tabs{
    margin-top: 40px;
}
.c-plan-tabs__buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.c-plan-tabs__button{
    min-width: 280px;
    text-align: center;
    display: inline-block;
    color: s.$colorGray;
    border-bottom: 1px solid s.$colorGray;
    padding-bottom: 8px;
    font-size: s.rem(18);
}
.c-plan-tabs__button--active{
    color: s.$colorGold;
    border-bottom: 1px solid s.$colorGold;
}

.c-plan-tabs__content{
    display: none;
    max-width: 640px;
    margin: auto;
    .content__title{
    margin-top: 40px;
    border-bottom: 1px solid s.$colorGold;
    padding-bottom: 8px;
    font-size: s.rem(20);
    }
    .content__text{
        font-family: s.$sans;
        margin-top: 10px;
    }
}

.c-plan-tabs__content--active{
    display: block;
}

.plan__cta{
    background: s.$colorGold;
    color: s.$colorWhite;
    width: 380px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

// 特徴
.p-top__featureList{
    margin-top: 40px;
    .p-top__featureItem:nth-child(even){
        flex-direction: row-reverse;
    }
    .p-top__featureItem:last-child{
       margin-bottom: 0;
    }
}
.p-top__featureItem{
    display: flex;
    margin-bottom: 100px;
}
.featureItem__imgWrapper{
    width: 500px;
}
.featureItem__contents{
    margin-top: 130px;
    margin-left: -80px;
    width: 500px;
    background: s.$colorWhite;
    padding: 16px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
}
.featureItem__title{
    text-align: center;
    font-size: s.rem(20);
    margin-bottom: 16px;
}
.p-top__featureItem:nth-child(even) .featureItem__contents {
  margin-left: auto; /* 奇数番目のmargin-leftをリセット */
  margin-right: -80px;
}

// お問い合わせセクション
.contact{
    background: url("../images/contact-cta.jpg") no-repeat center;
    min-height: 300px;
    padding: 40px 80px;
    color: s.$colorWhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact__titleEn{
    font-size: s.rem(20);
}
.contact__cta{

}
.contact__ctaLink{
    padding: 16px;
    width: 400px;
    background: s.$colorWhite;
    color: s.$colorBlack;
    display: flex;
    justify-content: center;
    font-size: s.rem(20);
}
.contact__sns{
    display: flex;
    justify-content: space-between;
    gap: 1%;
    margin-top: 2%;
    .sns:first-child{
        background: url("../images/instagram-cta.jpg") no-repeat center;
    }
    .sns:last-child{
        background: url("../images/facebook-cta.jpg") no-repeat center;
    }
}
.sns{
    min-height: 266px;
    width: 49%;
    color: s.$colorWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sns__text{
    font-size: s.rem(24);
}

.footer__navArea{
    display: flex;
    justify-content: space-between;
}
.footer__logo{
    font-size: s.rem(24);
    letter-spacing: 0.08rem;
}
.footer__navItem{
    padding-left: 24px;
}